Trabalho_WebServices/NetBeansProjects/CartaoCliente/src/wsdl/localhost_8080/SelectCartao/ItaCartao.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://org.ita/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://org.ita/">

<xs:element name="cartao" type="tns:cartao"/>

<xs:element name="cartaoResponse" type="tns:cartaoResponse"/>

<xs:complexType name="cartao">
<xs:sequence>
<xs:element name="n" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cartaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>