Trabalho_WebServices/WebService/CartaoWbservece/WebContent/wsdl/PcartaoWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controler" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controler" xmlns:intf="http://controler" xmlns:tns1="http://entities" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controler" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entities"/>
   <element name="find">
    <complexType>
     <sequence>
      <element name="saldo" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="findResponse">
    <complexType>
     <sequence>
      <element name="findReturn" type="tns1:Pcartao"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entities" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Pcartao">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="saldo" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findRequest">

      <wsdl:part element="impl:find" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findResponse">

      <wsdl:part element="impl:findResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PcartaoWS">

      <wsdl:operation name="find">

         <wsdl:input message="impl:findRequest" name="findRequest">

       </wsdl:input>

         <wsdl:output message="impl:findResponse" name="findResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PcartaoWSSoapBinding" type="impl:PcartaoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="find">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PcartaoWSService">

      <wsdl:port binding="impl:PcartaoWSSoapBinding" name="PcartaoWS">

         <wsdlsoap:address location="http://tempuri.org/CartaoWbservece/services/PcartaoWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
